@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryDark: #1f5872;
  --primary: #146c94;
  --primaryLight: #548ca7;
  --secondaryDark: #2f7c91;
  --secondary: #19a7ce;
  --secondaryLight: #0ccaff;
  --tertiary: #dbe8ee;
  --darkness: #171717;
  --lightness: #f6f1f1;
  --greyDark: #2b2a2a;
  --grey: #444444;
  --greyLight: #999999;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1 {
  @apply text-[60px] font-bold;
}

.theme {
  transition: 0.8s all ease;
}

.light {
  background-color: var(--lightness);
  color: var(--greyDark);
}

.dark {
  background-color: var(--darkness);
  color: var(--lightness);
}

.big-container {
  @apply container max-w-[1366px] min-h-screen mx-auto px-[60px] flex flex-col justify-between;
}

.inputStyle {
  @apply w-full p-2 mb-4 border-[2px] border-primaryDark bg-transparent rounded outline-none text-inherit text-lg font-bold;
}

.image-move {
  animation: move 3s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px) scale(1.03);
  }
}
