@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryDark: #1f5872;
  --primary: #146c94;
  --primaryLight: #548ca7;
  --secondaryDark: #2f7c91;
  --secondary: #19a7ce;
  --secondaryLight: #0ccaff;
  --tertiary: #afd3e2;
  --darkness: #171717;
  --lightness: #f6f1f1;
  --greyDark: #2b2a2a;
  --grey: #444444;
  --greyLight: #999999;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--lightness);
  background-color: var(--darkness);
}

h1 {
  @apply text-[72px] font-bold;
}

.big-container {
  @apply container max-w-[1366px] min-h-screen mx-auto px-[60px] flex flex-col justify-between;
}

.image-move {
  animation: move 3s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px) scale(1.03);
  }
}
