.button {
  padding: 4px 15px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid var(--grey);
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  &.active {
    border-color: var(--secondary);
    box-shadow: 0 0 10px rgba(12, 202, 255, 0.4);
  }
}

.button:hover {
  border-color: var(--secondary);
  box-shadow: 0 0 15px rgba(12, 202, 255, 0.8);
}
